:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --title-weight: "wght" 715;
  --main-weight: "wght" 410;
  --accent-weight: 400;
  --page-Bg:
    repeating-linear-gradient(
      to left,
      #d3d3d3 0,
      #d3d3d3 2px,
      rgba(211, 211, 211, 0.5) 2px,
      rgba(211, 211, 211, 0.5) 4px
    ),
    repeating-linear-gradient(
      to top,
      #d3d3d3 0,
      #d3d3d3 2px,
      rgba(211, 211, 211, 0.5) 2px,
      rgba(211, 211, 211, 0.5) 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --wrapper: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-height: clamp(20.4375rem, 17.7538rem + 11.4504vw, 23.25rem);
  --border-decor: 2px solid #000000;
  --laybel-decor: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;

  --color-white: #fff;
  --color-red: #ff0000;
  --color-black: #000000;
}
